@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="text-start">
    <h1>@ViewData["Title"]</h1>
    <p>Use a local account to log in </p>
</div>

<div class="row">
    <form id="account" method="post">
        <div class="col-md-4">
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />

            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />

            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>


        <div class="col-4 mt-5">
            <button type="submit" id="login-submit" class="btn btn-secondary" style="background-color:#3b6767">Log in</button>
        </div>
    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
