@model SalamaAssessment_Models.ViewModels.PaymentInfoVM

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-start">
    <h1>Buy the Policy</h1>
    <p>Enter your payment details | The cost: $ </p>
</div>
@if (!ViewBag.Error)
{
<form method="post" asp-action="PurchasePolicy" enctype="multipart/form-data" class="row g-2 ">
    <input type="text" class="form-control" asp-for="QuotationId" hidden>
    <input type="text" class="form-control" asp-for="QuotationIdKey" hidden>

    <div class="col-md-3">
        <label asp-for="CardholderName" class="form-label"></label>
        <input type="text" class="form-control" asp-for="CardholderName">
        <span asp-validation-for="CardholderName" class="text-danger"></span>
    </div>
     <div class="col-3">
        <label asp-for="CardNumber" class="form-label"></label>
        <input type="text" class="form-control" asp-for="CardNumber">
        <span asp-validation-for="CardNumber" class="text-danger"></span>
    </div>
    <div class="col-md-1">
        <label asp-for="ExpiryDate" class="form-label"></label>
        <input type="text" class="form-control" asp-for="ExpiryDate" placeholder="MM/YY">
        <span asp-validation-for="ExpiryDate" class="text-danger"></span>
    </div>
    <div class="col-1">
        <label asp-for="CVV" class="form-label"></label>
        <input type="text" class="form-control" asp-for="CVV">
        <span asp-validation-for="CVV" class="text-danger"></span>
    </div>

    <div class="col-4 mt-4">
        <button type="submit" class="btn btn-secondary " style="background-color:#3b6767" >Pay</button>
    </div>
</form>
}
else{
<h2 class="text-danger">Error.</h2>
<h3 class="text-danger">Fail to process payment .</h3>
}