@using SalamaAssessment_Models.Models.SelectLists
@model SalamaAssessment_Models.ViewModels.GetPremiumViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-start">
    <h1>The Premium</h1>
    <p>Calculated Premium | Motor Insurance </p>
</div>
<form method="post" enctype="multipart/form-data" class="row g-3">
    <div class="col-md-4">
        <label asp-for="DQuoteInfoVM.CustomerName" class="form-label"></label>
        <input type="text" disabled class="form-control" asp-for="DQuoteInfoVM.CustomerName">
    </div>
    <div class="col-md-4">
        <label asp-for="DQuoteInfoVM.CustomerNationalId" class="form-label"></label>
        <input type="text" disabled class="form-control" asp-for="DQuoteInfoVM.CustomerNationalId" placeholder="1XXXXXXXXX">
    </div>
    <div class="col-4">
         <label asp-for="DQuoteInfoVM.DateOfBirth" class="form-label"></label>
        <input type="text" disabled class="form-control" asp-for="DQuoteInfoVM.DateOfBirth">
    </div>
    <div class="col-4">
        <label asp-for="DQuoteInfoVM.Gender" class="form-label"></label>
        <input type="text" class="form-control" disabled asp-for="DQuoteInfoVM.Gender">
    </div>
    <div class="col-md-4">
        <label asp-for="DQuoteInfoVM.City" class="form-label"></label>
        <input type="text" class="form-control" disabled asp-for="DQuoteInfoVM.City">
    </div>
    <div class="col-md-4">
         <label asp-for="DQuoteInfoVM.MaritalStatus" class="form-label"></label>
        <input type="text" class="form-control" disabled asp-for="DQuoteInfoVM.MaritalStatus">
        
    </div>
    <div class="col-md-4">
       <label asp-for="DQuoteInfoVM.VehicleMake" class="form-label"></label>
       <input type="text" class="form-control" disabled asp-for="DQuoteInfoVM.VehicleMake">
    </div>
    <hr />
    <div class="col-md-4">
       <label asp-for="PremiumValue.Premium" class="form-label"></label>
       <input type="text" class="form-control" disabled asp-for="PremiumValue.Premium">
    </div>
    <div class="col-md-4">
       <label asp-for="PremiumValue.Tax" class="form-label"></label>
       <input type="text" class="form-control" disabled asp-for="PremiumValue.Tax">
    </div>
    <div class="col-4 mt-5">
        <button type="submit" class="btn btn-secondary" style="background-color:#3b6767">Buy the Policy</button>
    </div>
</form>