@using SalamaAssessment_Models.Models.SelectLists
@model SalamaAssessment_Models.ViewModels.QuoteInfoVM

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-start">
    <h1>Get A Quote</h1>
    <p>Calculate Your Premium | Motor Insurance </p>
</div>
@if (!ViewBag.Error)
{
    <form method="post" enctype="multipart/form-data" class="row g-3">
    <div class="col-md-4">
        <label asp-for="CustomerName" class="form-label"></label>
        <input type="text" class="form-control" asp-for="CustomerName">
         <span asp-validation-for="CustomerName" class="text-danger"></span>
    </div>
    <div class="col-md-4">
        <label asp-for="CustomerNationalId" class="form-label"></label>
        <input type="text" value="" class="form-control" asp-for="CustomerNationalId" placeholder="1XXXXXXXXX">
        <span asp-validation-for="CustomerNationalId" class="text-danger"></span>
    </div>
    <div class="col-4">
         <label asp-for="DateOfBirth" class="form-label"></label>
        <input type="date" value ="@DateTime.Today.ToShortDateString()" class="form-control" asp-for="DateOfBirth">
        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
    </div>
    <div class="col-4">
        <label asp-for="Gender" class="form-label"></label>
        <select asp-for="Gender" class="form-select"   asp-items="Html.GetEnumSelectList<Gender>()">
            <option value="">Please Select</option>
        </select>
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>
    <div class="col-md-4">
        <label asp-for="City" class="form-label"></label>
        <select class="form-select" asp-for="City"  asp-items="Html.GetEnumSelectList<City>()">
             <option value="">Please Select</option>
        </select>
        <span asp-validation-for="City" class="text-danger"></span>
    </div>
    <div class="col-md-4">
         <label asp-for="MaritalStatus" class="form-label"></label>
        <select asp-for="MaritalStatus" class="form-select"   asp-items="Html.GetEnumSelectList<MaritalStatus>()">
             <option value="">Please Select</option>
        </select>
        <span asp-validation-for="MaritalStatus" class="text-danger"></span>
    </div>
    <div class="col-md-4">
       <label asp-for="VehicleMake" class="form-label"></label>
        <select asp-for="VehicleMake" class="form-select"   asp-items="Html.GetEnumSelectList<VehicleMake>()">
             <option value="">Please Select</option>
        </select>
        <span asp-validation-for="VehicleMake" class="text-danger"></span>
    </div>
    
    <div class="col-4 mt-5">
        <button type="submit" class="btn btn-secondary" style="background-color:#3b6767">Submit</button>
    </div>
</form>
}
else{
<h2 class="text-danger">Error.</h2>
<h3 class="text-danger">An error occurred while processing your request.</h3>
}